<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all books data</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <h2>LIBRARY MANAGMENT API</h2>
        <form action="/books/new">
            <button>Add New Books</button>
        </form>
    </div>
    <div class="main">
        <% for(book of books){ %>
            <div class="book_data">
                <h3 class="book_name"><%= book.B_name %></h3>
                <h4><%= book.B_author %></h4>
                <h5><%= book.B_publishingDate %></h5>
                <div class="buttons">
                    <form action="/books/<%=book.B_id%>/edit">
                        <button>Update Info</button>
                    </form>
                    <form action="/books/<%=book.B_id%>?_method=DELETE" method="post">
                        <button>Delete Book</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>